@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Variables pour le mode clair */
  :root {
    --background: hsl(0, 0%, 100%); 
    --foreground: hsl(0, 0%, 20%); 
    
    /* Dégradé pour les cartes */
    --card-background-start: #f7f0ff; 
    --card-background-end: #e0d0a3; 
    
    --card-border: #e3ba59; 
    --card-shadow: rgba(0, 0, 0, 0.2); 
    --card-text: #f5f5dc; 
    
    /* Effet d'ombre */
    --card-hover-shadow: rgba(0, 0, 0, 0.3); 
    
    --card-image-shadow: rgba(255, 255, 255, 0.6); 
    --card-title-color: #e3ba59; 
    --card-description-color: #666; 
  }

  /* Variables pour le mode sombre */
  .dark {
    --background: hsl(0, 0%, 3.9%);
    --foreground: hsl(0, 0%, 98%);

    /* Dégradé pour les cartes en mode sombre */
    --card-background-start: #6a4e1f; 
    --card-background-end: #8c7d4e;
    
    --card-border: #d9b96d; 
    --card-shadow: rgba(255, 255, 255, 0.5);
    --card-text: #fff; 
    
    --card-hover-shadow: rgba(255, 255, 255, 0.3); 
    
    --card-image-shadow: rgba(255, 255, 255, 0.8);
    --card-title-color: #e3ba59; 
    --card-description-color: #e0e0e0; 
  }
}

@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

body {
  @apply bg-background text-foreground;
}
